*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,Arial,sans-serif;
    
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    
}

/* HEADER */
  
  .container{
    max-width:900px;
    margin: 0 auto;
  }
  
  li {
    font-weight: bold;
    list-style: none;
        
  }
  
  .header{
    background: #0073CD;
    color: white;
    padding: 5px 0;
    justify-content:center;

  
    position:absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  
  .header a {
    text-decoration: none;
    text-transform: uppercase;
    
    
  }
  
  .logo-nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
  }
  
  .logo{
    height: 50px;
    width: 50px;
    text-align: center;
    letter-spacing: 15px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #fff;
    justify-content: center;
    
  }
  
  
  .naveg ul{
    margin: 0;
    list-style: none;
  }
  
  nav ul li{
    display: inline-block;
  }
  
  .naveg ul li a{
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.4s linear;
    font-weight: bold;
    background: #ffc800;
    color:#000;
  }
  
  .naveg ul li a:hover {
    background: #e6b400;
  }
  .titulo{
    position: relative;
    line-height: 0px;
    font-weight:bold;
    font-size: 28px;
    text-align: center;
    align-content: center;
    text-transform: uppercase;
    letter-spacing:5px;
  
  } 
  /* img */
  .far {
    position: absolute;
    color: #fff;
    width: 60px;
    height: 60px;
    top: 2px;
    right: 10px;
     
  }

  .keys{
    width: 110px;
  }
  
  /* CONTAINER */
.form
{
    position: relative;
    background: #00A5F0;
    width: 500px;
    padding: 2px 40px 60px;
    border-radius: 20px;
    text-align: center;
    margin-top: 8%;
}


.form .input
{
    margin-top: 6px;
    text-align: left;
}

.form .input .inputBox
{
    margin-top: 10px;
}

.form .input .inputBox label
{
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

.form .input .inputBox input
{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    color: #111;
    font-size: 18px;
    border-radius: 50px;
}
/* BOTOES */
#btn1, #btn2{

  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  letter-spacing: 1px;
  background: #FFC800;
  color: black;
  font-weight: bold;
}

#btn1, #btn2:hover
{
  background:#E6B400;
}



/* FOOTER */
a{
    color:#fff;
    margin: 15px;
    background-color: #FFFFFF;
    
  }
footer {
    position: absolute;
    margin-top: 900px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  i{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    color: #fff;
  }

  .fb{
      background-color: #0073CD;
      border-radius: 50px;
  }
  
  .inst{
    background-color: #00a0a0;
    border-radius: 50px;
}

.linkedin{
    background-color: #0073CD;
    border-radius: 50px;
}
.twitter{
    background-color: #00A5F0;
    border-radius: 50px;
}
.yt{
    background-color: #38A3A5;
    border-radius: 50px;
}
.copy {
    font-size: 15px;
    color: gray;
    position: absolute;
    margin-top: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }