*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background: #f2f2f2;
	font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 40.5%;
  min-width: 14rem;
  margin: 0px 0.7px 8px;
}

.scroll::-webkit-scrollbar{
  width: 0.6rem;

}
.scroll::-webkit-scrollbar-track{
  background-color: #fff;
}

.scroll::-webkit-scrollbar-thumb{
  background-color: #0073CD;
  border-radius: 1rem;
}

section{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;

}

section h2{
    font-size: 12px;
    font-weight: 500px;
    margin-bottom: 5px;
}


.cta{
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: #ffc800;
    color: #111;
    border-radius: 20px;
    font-weight: bold;
    width: 100%;
    margin-top: 20px; 
    text-decoration: none;
    text-transform: uppercase;
    }
  
  .cta:hover {
    background-color: #e6b400;
    cursor: pointer;
    color:#000;
    
  }

.modal-container{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display:flex;
  align-items: center;
  justify-content: center;
}

.modal{
    width: 50%;
    height: 60%;
    background-color: beige;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
}


.close{
    position: relative;
    top: -120px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: crimson;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius:20px ;

}

/* TABELA */

.content{
  width: 100%;
  max-width: 450px;
}

tr{
  background-color: #fff;
  
}
.content-table{
  border-collapse: collapse;
  margin: 2px 0px;
  font-size: 0.9em;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #0073CD;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 8px 8px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #0073CD;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #0073CD;
}