*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,Arial,sans-serif;
    
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    
}

.form
{
    position: relative;
    background: #00A5F0;
    width: 400px;
    padding: 40px 40px 60px;
    border-radius: 20px;
    text-align: center;
}

.titulo{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing:5px;
    margin-bottom: 30px;
    font-size: 35px
  
   
}
.form h2
{
    color: #0073CD;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 5px;

}

.cx{
    background: #fff;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

p {
    color: #fff;
    font-size: 20px;
    line-height: 38px;
}

.balance{
    font-size: 35px;
    color:#ffc800;
        
}


button
{
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    color: #678983;
    font-size: 18px;
    border-radius: 50px;
}

button
{
    cursor: pointer;
    margin-top: 30px;
    letter-spacing: 1px;
    background: #FFC800;
    color: black;
    font-weight: bold;
}

button:hover
{
    background:#E6B400;
}

/*  */

a{
    color:#fff;
    margin: 15px;
    background-color: #FFFFFF;
    
  }
footer {
    position: absolute;
    margin-top: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
  }
  
  i{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
  }

  .fb{
      background-color: #0073CD;
      border-radius: 50px;
  }
  
  .inst{
    background-color: #00a0a0;
    border-radius: 50px;
}

.linkedin{
    background-color: #0073CD;
    border-radius: 50px;
}
.twitter{
    background-color: #00A5F0;
    border-radius: 50px;
}
.yt{
    background-color: #38A3A5;
    border-radius: 50px;
}
#copy {
    color: chocolate;
    position: absolute;
    margin-top: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
  }
    


